.button {
    padding: 10px;
    cursor: pointer;
    min-width: 100px;
    border-radius: 3px;

    font-size: var(--font-size-small);
    font-family: var(--font-family-main);
    font-weight: var(--font-bold);
    background: none;
    outline: none;

    transition: var(--transition);
}
.button:disabled, .button:disabled:hover {
    color: var(--color-gray);
    background-color: transparent;
    border-color: var(--color-gray);
    cursor: default;
}

.dark {
    border: 1px solid var(--color-white);
    color: var(--color-white);

}
.dark:hover {
    background-color: var(--color-white);
    color: var(--color-black)
}
.light {
    border: 1px solid var(--color-black);
    color: var(--color-black);

}
.light:hover {
    background-color: var(--color-black);
    color: var(--color-white)
}